*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* cuerpo */
body{
    background-image: url("../IMG/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arvo', serif;
    color: black;
    padding: 2rem;
}
/* contenedor principal */
.contenedor{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    background-color: rgb(245, 225, 239);
    padding: 2rem;
}
/* encabezado */
.encabezado{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem;
}

/* titulo */
.titulo{
    font-size: 2rem;
    margin-bottom: 1rem;
}
